<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idg.demo.mapper.DemoScoreMapper">

    <select id="selectVOPage" resultType="com.idg.demo.domain.vo.StudentScoreVO">
        select 
            stu.name as studentName,
            s.score
        from
            demo_score as s
            left join 
            demo_student as stu on s.demo_student_id = stu.id
            <where>
            <if test="searchKey != null and searchKey != ''">
                AND (s.score like CONCAT("%",#{searchKey},"%") OR stu.name like CONCAT("%",#{searchKey},"%"))
            </if>
            </where>
    </select>

</mapper>